/*body, form {
    height: 100%;
}*/

body{
	text-align: center;
	/*background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRFUvS-EzENaG4LtfET6E25jHqoxwmbmpLvSAg1W5NS9mZJ09ExAw');*/
	background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSz5fEMjovrvN2m7zE5BpV4PcY7LTEJJCd4ud94bJaPZg3aLkuK');
 background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    position:relative;
    width: 100%;
    margin:0;
    padding:0;

}
span{
	position: relative;
	left: 25%;


}

li{
	 line-height: 200%;
	  letter-spacing: 2px;
	  font-weight: bold;
	  background-color: rgba(242, 234, 12, 0.15);
	  display: block;
}

form{
	border: ;
	font-size: 60px;
}